<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.demo.mapper.MajorMapper">
  <resultMap id="BaseResultMap" type="com.school.demo.entity.Major">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="school_major_id" jdbcType="INTEGER" property="schoolMajorId" />
    <result column="school_major_name" jdbcType="VARCHAR" property="schoolMajorName" />
    <result column="school_id" jdbcType="INTEGER" property="schoolId" />
  </resultMap>
</mapper>